body {
    background-color: rgba(0, 0, 0);
    background-image: url(https://media3.giphy.com/media/QWvrm9qorO2SJMtgYs/giphy.gif);
    background-size: 70%;
    font-family: monospace;
}

.pre {
    color: wheat;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-bottom: solid 1px bisque;
    font-family: unset;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.80;
    font-weight: bolder;
}

.background {
    background-color: rgba(0, 0, 0);
    width: 1350px;
    border: solid 2px;
    border-color: rgba(227, 189, 187, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px;
}

.page-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.about {
    cursor: pointer;
}

.skill {
    cursor: pointer;
}

#about {
    margin-top: 70px;
    margin-left: 150px;
    /* padding: 30px; */
    line-height: 2;
    text-align: center;
    width: 1000px;
}

#dot {
    margin-left: 650px;
}

#dot2 {
    margin-left: 650px;
}

#about2 {
    margin-left: 150px;
    /* padding-left: 30px; */
    line-height: 2;
    text-align: center;
    width: 1000px;
}

#about3 {
    margin-left: 150px;
    /* padding-left: 30px; */
    line-height: 2;
    text-align: center;
    width: 1000px;
}

#show-skills {
    margin: 30px;
    display: flex;
    justify-content: center;
}

h3 {
    margin-left: 20px;
}

h4 {
    color: rgba(224, 176, 158, 1);
}

.second-label {
    margin-left: 20px;
    height: 20px;
}

p {
    color: rgba(227, 157, 132);
}

.list {
    margin-left: 20px;
}

.fp-header-div {
    display: flex;
    justify-content: center;
}

#fp-header {
    color: rgba(227, 157, 132);
    border-bottom: solid 1px bisque;
    padding: 15px;
    width: 300px;
    display: flex;
    justify-content: center;
}

#projects-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.project-div {
    height: 270px;
    width: 900px;
    padding: 20px;
    color: rgba(227, 157, 132);
    display: flex;
    margin: 50px 50px 50px 200px;
}

.description-p {
    margin-top: 30px;
    width: 400px;
}

.description-links {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.description-img {
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.img-size {
    width: 320px;
}

/* .isa-div {
    padding: 10px;
    width: 380px;
    height: 100px;
    margin-left: 150px;
    margin-top: 55px;
} */

.isa-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
}

a {
    text-decoration: none;
    color: #b4490c;
}

a:hover {
    color: coral;
}

#work-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.work-links {
    padding: 50px;
    color: rgba(227, 157, 132);
}

.work-links>a {
    color: rgba(227, 157, 132);
}

.work-links:hover {
    color: rgba(227, 189, 187);
}

.note {
    font-size: 11px;
    color: grey;
    padding-top: 10px;
}

.technologies {
    font-size: 12px;
    opacity: 50%;
}
.mobile-logo {
    display: none;
}



.how-project-div {
    height: 270px;
    width: 900px;
    padding: 20px;
    color: rgba(227, 157, 132);
    display: flex;
    margin: 50px 50px 50px 200px;
}

.how-description-p {
    margin-top: 30px;
    width: 400px;
}

.how-description-links {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.how-description-img {
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.how-img-size {
    width: 320px;
}


@media screen and (max-width: 375px) {
    body {
        background-size: 170%;
    }
    .background {
        width: 320px;
        border: solid 2px;
        border-color: rgba(227, 189, 187, 0.5);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px 20px 20px 15px;
    }
    .logo {
        display: none;
    }
    .mobile-logo {
        display: inline-block;
        width: 280px;
    }
    #about {
        line-height: 2;
        width: 250px;
        margin: 40px 0px 0px 28px;
        text-align: justify;
    }
    #dot {
        margin-left: 149px;
    }
    #dot2 {
        margin-left: 149px;
    }
    #about2 {
        margin: 20px 0px 0px 25px;
        line-height: 2;
        width: 250px;
        text-align: justify;
    }
    #about3 {
        margin: 20px 0px 0px 30px;
        line-height: 2;
        width: 250px;
        text-align: justify;
    }
    #show-skills {
        margin: 40px 0px 0px 25px;
        display: flex;
        justify-content: center;
        line-height: 2;
        width: 250px;
        text-align: justify;
    }
    #fp-header {
        width: 280px;
        display: flex;
        justify-content: center;
    }
    #projects-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin: 50px; */
    }
    .project-div {
        height: 450px;
        width: 250px;
        padding: 20px;
        color: rgba(227, 157, 132);
        margin-left: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: solid 1px bisque;
        padding-bottom: 30px;
    }
    h4 {
        margin-left: 10px;
    }
    .description {
        height: 200px;
    }
    .description-p {
        margin-left: 10px;
        width: 280px;
        /* height: 100px; */
    }
    .description-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0px;
        /* margin-right: 80px; */
        margin-top: 50px;
    }
    .description-img {
        margin: 30px 40px 40px 40px;
    }
    .technologies {
        text-align: center;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .img-size {
        width: 250px;
        margin-top: 80px;
    }
    /* .isa-div {
        padding: 10px;
        width: 380px;
        height: 200px;
        margin-left: 150px;
        margin-top: 55px;
    } */
    .isa-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    /* how do i explain div  */
    .how-project-div {
        height: 520px;
        width: 250px;
        padding: 20px;
        color: rgba(227, 157, 132);
        margin-left: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: solid 1px bisque;
        padding-bottom: 30px;
    }
    .how-description {
        height: 200px;
    }
    .how-description-p {
        margin-left: 10px;
        width: 280px;
        /* height: 100px; */
    }
    .how-description-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0px;
        /* margin-right: 80px; */
        margin-top: 50px;
    }
    .how-description-img {
        margin: 120px 40px 40px 40px;
    }
    .how-technologies {
        text-align: center;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        font-size: 12px;
        opacity: 50%;
    }
    .how-img-size {
        width: 250px;
        margin-top: 70px;
    }
    #work-links-container {
        line-height: 3;
        text-align: center;
        padding: 0px 30px 70px 30px;
    }
    .work-links {
        padding: 50px;
    }
}